.subscribe {
  display: inline-block;
}

.subscribe .button {
  background-color: #2f2e2e;
  width: 165px;
  height: 49px;
  float: left;
}

.subscribe input {
  height: 49px;
  width: 276px;
  background-color: transparent;
  padding-left: 20px;
  border: 1px solid #e8e8e8;
  float: left;
  box-sizing: border-box;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  .subscribe input {
    float: none;
    margin-bottom: 30px;
  }

  .subscribe .button {
    float: none;
    width: 276px;
    justify-self: center;
  }
  .subscribe {
    margin-bottom: -30px;
  }
}
