.About {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
}

.About-title {
  color: #2fcbfc;
  width: 50%;
  text-align: end;
}

.About-title h2 {
  padding-right: 160px;
}

.About-content {
  width: 50%;
}

.About-content p {
  padding-right: 160px;
}

@media screen and (max-width: 811px) {
  .About {
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
  }

  .About-title {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .About-title h2 {
    padding: 0;
  }

  .About-content {
    text-align: justify;
    width: 80vw;
  }

  .About-content p {
    padding-right: 0;
  }
}
