.Newsletter {
  text-align: center;
  padding-top: 88px;
  padding-bottom: 90px;
}

.Newsletter h2 {
  color: #2fcbfc;
  margin-bottom: 45px;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
  .Newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
